<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmbeast.mapper.HouseOrderStatusMapper">

    <select id="list" resultMap="BaseResultMap">
        SELECT
        hos.id, hos.origin_status, hos.new_id, hos.house_order_info_id, hos.create_time
        FROM house_order_status hos
        <where>
            <if test="houseOrderInfoId != null">
                AND hos.house_order_info_id = #{houseOrderInfoId}
            </if>
        </where>
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>

    <!--满足分页条件的数据总项-->
    <select id="listCount" resultType="integer">

        SELECT COUNT(*)
        FROM house_order_status hos
        <where>
            <if test="houseOrderInfoId != null">
                AND hos.house_order_info_id = #{houseOrderInfoId}
            </if>
        </where>
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kmbeast.pojo.vo.HouseOrderStatusVO">
        <id column="id" property="id"/>
        <result column="origin_status" property="originStatus"/>
        <result column="new_id" property="newId"/>
        <result column="house_order_info_id" property="houseOrderInfoId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
